body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.container { 
  max-width: 1158px; 
  padding-left: 15px;  
  padding-right: 15px;  
  margin-left: auto;  
  margin-right: auto;  
}


/*Header*/
.header {
    border-bottom: 1px solid #E7E9FC;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-accent {
    color: #4D5AE5;
}

.nav-list,
.address-list {
    display: flex;
    gap: 40px;
    padding: 0;
}

.address, 
.address-list,
.features-list,
.team-list,
.portfolio-list {
    font-style: normal;
}

.nav-list,
.address-list,
.features-list,
.team-list,
.portfolio-list {
    list-style: none;
}
.nav-list,
.address-list {
    font-size: 16px;
}

.address {
  margin-left: auto;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: #404BBF;
}

.nav-link {
    display: inline-block;
    position: relative;
    padding: 24px 0;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list .nav-link.active::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
    margin-top: 20px;
    position: absolute;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link,
.logo,
.mail,
.tel {
  text-decoration: none;
}

.mail, 
.tel {
    display: block;
    padding: 24px 0;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*Main*/
.section-main {
    background-color: #2E2F42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    background-origin: padding-box;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero-background.jpg);
}

.section-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    transition: transporm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Our features*/
.features-section {
    padding: 120px 0;
}

.icon-features {
    background-image: url(/images/background-img-features.png);
    width: 264px;
    height: 112px;
    display: block;
    margin-bottom: 8px;
    padding: 23px 100px 25px;
}

.team-name,
.title-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-name {
    margin-bottom: 8px;
    text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: 264px;
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.features-text,
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Our Team*/
.section {
  padding: 120px 0;
}

.section-our-team {
    background-color: #F4F4FD;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item {
    background-color: #fff;
    width: 264px;
     border-radius: 0 0 4px 4px;
}

.team-position {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.our-team-card {
    padding: 32px 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #31D0AA;
    transition: transporm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
  fill: #FFFFFF;
}

/*Portfolio*/
.portfolio-section {
  padding: 120px 0;
}

.portfolio-section .section-title {
    margin-bottom: 72px;
    padding: 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
  width: 360px;
  position: relative;
  overflow: hidden;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-overlay {
    position: absolute;
    background-color: #4D5AE5;
    color: #F4F4FD;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transporm 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px 164px;
}

.overlay-text {
    width: 296px;
    height: 96px;
}

.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.title-portfolio {
  margin-bottom: 8px;
}

/*Footer*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    padding: 0;
    width: 264px;
}

.footer .logo {
    color: #F4F4FD;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    margin-right: 0;
}

.footer-social-text {
    color: #fff;
    font-size: 500;
    margin-bottom: 16px;
}

.footer .container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.footer-social-info {
  display: flex;
  flex-direction: column;
}